In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('nifty_data.csv')
df.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,Previous Close,52-Week High,52-Week Low,50-Day Average,200-Day Average
0,2022-10-03 00:00:00+05:30,17102.099609,17114.650391,16855.550781,16887.349609,278400,0.0,0.0,25810.85,26277.35,18837.85,25006.428,23077.352
1,2022-10-04 00:00:00+05:30,17147.449219,17287.300781,17117.300781,17274.300781,226000,0.0,0.0,25810.85,26277.35,18837.85,25006.428,23077.352
2,2022-10-06 00:00:00+05:30,17379.250000,17428.800781,17315.650391,17331.800781,265500,0.0,0.0,25810.85,26277.35,18837.85,25006.428,23077.352
3,2022-10-07 00:00:00+05:30,17287.199219,17337.349609,17216.949219,17314.650391,216300,0.0,0.0,25810.85,26277.35,18837.85,25006.428,23077.352
4,2022-10-10 00:00:00+05:30,17094.349609,17280.150391,17064.699219,17241.000000,234000,0.0,0.0,25810.85,26277.35,18837.85,25006.428,23077.352

In [ ]:
df = df.drop(columns = ['Dividends